X
instance/*.sqlite
instance/*firebase*.json
instance/*/*firebase*.json
instance/messages.ini

caccia_server/static/content/*.png
caccia_server/static/content/*.jpeg
caccia_server/static/content/*.jpg
caccia_server/static/content/*.JPG
caccia_server/static/content/*.JPEG
caccia_server/static/content/*.PNG
caccia_server/static/firebaseConfig.js

caccia_server/requirements.txt