html {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: #8fa9b8;
	padding: 1rem;
}

strong {
	font-weight: 600;
}

@keyframes cardin {
	from {
		transform: translateY(-250%)
	}

	to {
		transform: translateY(0%)
	}
}


body {
	/*! max-width: 960px; */
	margin: 0 10px;
	background: white;
	/*! border-radius: 10px; */
	box-shadow: 0px 2px 0px 2px #0000001c;
	padding: 20px;
}

h1 {
	font-weight: 300;
	color: #b80124;
	margin: 1rem 0;
}

h2 {
	font-weight: 400
}

a:active {
	color: #377ba8;
}

hr {
	border: none;
	border-top: 1px solid lightgray;
}


nav {
	background-color: transparent;
	display: flex;
	align-items: center;
	padding: 0 0rem;
	margin-bottom: 12px;
	justify-content: center;
}

nav img {
	width: 100px;
	/*! padding: 20px; */
	/*! flex: 1; */
}

nav h1 {
	/*! flex: 1; */
	margin-left: 10px;
	font-weight: bold;
	font-family: "Noto Sans", sans-serif;

}

nav h1 a {
	text-decoration: none;
	padding: 0.25rem 0.5rem;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a, nav ul li span, header .action {
	display: block;
	padding: 0.7rem;
}

.content {
	/*! padding: 0 1.1rem 1rem; */
}

.content>header {
	border-bottom: 2px solid lightgray;
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.content>header h1 {
	flex: auto;
	margin: 1rem 0 0.25rem 0;
}

.flash {
	margin: 1em 0;
	padding: 1em;
	background: #cae6f6;
	border: 1px solid #377ba8;
}

.post>header {
	display: flex;
	align-items: flex-end;
	font-size: 0.85em;
}

.post>header>div:first-of-type {
	flex: auto;
}

.post>header h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

.post .about {
	color: slategray;
	font-style: italic;
}

.post .body {
	white-space: pre-line;
}

.content:last-child {
	margin-bottom: 0;
}

.content form {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}

.content label {
	margin-bottom: 0.4em;
}

.content input, .content textarea {
	margin-bottom: 1em;
}

.content textarea {
	min-height: 12em;
	resize: vertical;
}

input.danger {
	color: #cc2f2e;
}

input[type=submit] {
	/*! align-self: start; */
	min-width: 10em;
	margin: 0;
	margin-top: 8px;
}

.hidden {
	display: none;
}

#popup,
#popup .popup_back {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#popup .popup_back {
	background-color: #00000029;
}

#popup_details_box {
	padding: 10px;
	box-shadow: 0px 1px 6px #00000069 inset;
	border-radius: 9px;
	margin-top: 10px;
}

#popup .popup_content {
	position: fixed;
	width: 50%;
	min-height: 200px;
	top: 5%;
	left: 24%;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0px 6px 8px #0000006b;
	padding: 20px;
}

button.del_button,
#popup button {
	cursor: pointer;
	border-radius: 4px;
}

button.del_button {
	width: 100%;
}

button.del_button:hover {
	background-color: #a74c4c;
}

#popup button {
	margin: 10px;
	padding: 10px 30px;
	border-color: #3d7db6;
	background-color: #b3d2ee;
}

button.del_button,
button#confirm_remove {
	border-color: red;
	background-color: pink;
	font-weight: bold;
}

table tr:hover {
	background-color: #bbc2c3;
}

table,
table th,
table tr {
	font-weight: 300;
	text-align: left;
}

table th {
	border-left: 1px solid gray;
	padding: 4px;
}

table tr.table_head th {
	font-weight: 400;
	text-align: center;
	border-bottom: 2px solid black;
}

#spinner-area {
	height: 50px;
	width: 50px;
	/*background-color: gray;*/
	position: relative;
	/*! display: inline-block; */

}


#navigation {
	/*! box-shadow: 0px 1px 6px #00000069 inset; */
	/*! padding: 0px 0px 0px 12px; */
	margin: 10px 0px 0px;
	/*! border-radius: 9px; */
	justify-content: start;
}

#navigation a {
	background-color: #e1e1e1;
	color: #213d50;
	/*! border-radius: 4px; */
	/*! margin: 6px 9px; */
	/*! box-shadow: 0px 1px 4px #000000bf; */
	text-decoration: none;
	padding: 7px 21px;
}

#navigation a:hover {
	background-color: darkgray;
}

#navigation .current {
	background-color: #377ba8;
	color: white;
}


#top_nav {
	flex-wrap: wrap;
}

details>summary {
	padding: 2px 8px;
	background-color: #ddd;
	border: none;
	cursor: pointer;
}

details>div {
	background-color: rgba(221, 221, 221, 0.337);
	padding: 4px 4px 4px 8px;
}



details {
	margin-bottom: 4px;

}

details[open] {
	margin-bottom: 10px;
}

.carddetailsp {
	margin: 4px;
	display: flex;
}

.cardbutton {
	margin: 4px;
	min-width: 10em;
}

.cardsinput {
	background-color: transparent;
	flex: 1;
	margin-left: 4px;
	border: 1px solid darkgrey;
}

.scanqrbutton {
	background: #3a3737f5;
	border-width: 0px;
	color: white;
	padding: 8px;
	box-shadow: 0px 2px 0px 1px #3a3737b3;
	font-weight: bold;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 10px;
}

.submitanswerbutton {
	background: #3d93b6;
	border-width: 0px;
	color: white;
	padding: 8px;
	box-shadow: 0px 2px 2px 1px #00000021;
	font-weight: bold;
}

.radio-button {
	display: flex;
}

.radio-button input[type="radio"] {
	display: none;
}

.radio-button label {
	display: inline-block;
	background-color: #d1d1d1;
	padding: 3px 8px;
	/*! font-family: Arial; */
	flex: 1;
	box-shadow: 0px 2px 0px #2d2a2a4f;
}

.radio-button input[type="radio"]:checked+label {
	background-color: #ffe28c;
	color: black;
	font-weight: normal;
	box-shadow: 0px 1px 0px #f0b104;
}

/* ========= CHARTS ==========*/

.chart_container {
	width: 50%;
	position: relative;
	margin: auto;

}

/* AJAX ERROR MESG */

#ajax_error {
	padding: 20px;
	background-color: pink;
}