{% extends 'cards/index.html' %}

{% if session.get('_caccia_user_id', None)%}
{% block content %}

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{ url_for('static', filename='spin.min.js') }}"></script>
<script>
    let spinner_opts = {
        lines: 13,
        length: 28,
        width: 14,
        radius: 42,
        scale: 0.3,
        corners: 1,
        color: '#000',
        opacity: 0.25,
        rotate: 0,
        direction: 1,
        speed: 1,
        trail: 60,
        fps: 20,
        zIndex: 2e9,
        className: 'spinner',
        top: '50%',
        left: '50%',
        shadow: false,
        hwaccel: false,
        position: 'absolute',
    };
    let spinner = new Spinner(spinner_opts);
</script>


<!-- Overrides style.css body to add card animation -->
<style>
  body {
    animation-name: cardin !important; 
    animation-duration: 1s !important; 
  }
</style>
<!-- BADGE content -->
<p><strong>NEW_BADGE:</strong> {{new_badge}}</p>
<p><strong>USER_BADGES:</strong> {{next_card}}</p>


{% endblock %}
{% endif %}
