{% extends 'cards/index.html' %}

{% if session.get('_caccia_user_id', None)%}
{% block content %}

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{ url_for('static', filename='spin.min.js') }}"></script>
<script>
    let spinner_opts = {
        lines: 13,
        length: 28,
        width: 14,
        radius: 42,
        scale: 0.3,
        corners: 1,
        color: '#000',
        opacity: 0.25,
        rotate: 0,
        direction: 1,
        speed: 1,
        trail: 60,
        fps: 20,
        zIndex: 2e9,
        className: 'spinner',
        top: '50%',
        left: '50%',
        shadow: false,
        hwaccel: false,
        position: 'absolute',
    };
    let spinner = new Spinner(spinner_opts);
</script>


<!-- Overrides style.css body to change nav button color -->
<style>
  
</style>
<!-- BADGE content -->
<p style="display: none"><strong>NEW_BADGE:</strong> {{new_badge}}</p>
<p style="display: none"><strong>USER_BADGES:</strong> {{user_badges}}</p>
<p style="display: none"><strong>BACK_TO_CARD:</strong> {{back_to_card}}</p>
<p style="display: none"><strong>MAP_IMAGE:</strong> {{map_image}}</p>

{% if new_badge != -1 %}
  <div class="flash" style="padding:8px; color: #00b2b4; font-weight: bold;display: flex;flex-direction: column;align-items: center; font-size: 14px; ">
    {{config["MESSAGES"]["winbadge"] | safe}}
    <img src="static/rewards/{{new_badge+1}}.png" alt="" style="width: 30%; max-width:150px; padding-top:4px;">
    <a href="{{scan}}" class="submitanswerbutton" style="text-decoration: none;
    font-size: 12px;
    padding: 10px;
    min-height: auto;
    background-color: #ffffff;
    color: #00b2b4;
    font-weight: bold;
    margin-top: 10px;
    border: 2px solid #00b2b4;">{{config["MESSAGES"]["continuabutton"] | safe}}</a>
  </div>
{% endif %}
<div>


</div>

<div style="display: flex; flex-direction:column; justify-content: center; margin-bottom: 20px; font-weight: normal; color: rgb(134, 134, 134);">
  <div class="trofei">I miei trofei</div>
  <div class="badges-grid" style=" flex:1">
    {% for i in user_badges %}
      {% if i == 1 %}
        <div style="aspect-ratio: 1 / 1;">
          <img src="static/rewards/{{loop.index}}.png" style="width:100%">
        </div>
      {% else %}
        <div style="aspect-ratio: 1 / 1;">
          <img src="static/rewards/unknown.png" style="width:100%">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% if new_badge != -1 %}
<div>
  {{postdata | safe}}
</div>

<div id="mappa" style="display: flex; flex-direction:column; justify-content: center; margin-bottom: 20px; font-weight: normal; color: rgb(134, 134, 134)">
  <img style="width: 100%; max-width:400px" src="{{map_image}}" alt="">
  <!-- <p style="text-align: center;background: #d96a52;margin-top: 0px;color: white;padding: 2px;font-size: 14px;">Mappa degli indizi</p> -->
</div>
{% endif %}


{% endblock %}
{% endif %}
