{% extends 'cards/index.html' %}

{% block title %}Continua{% endblock %}
{% block content %}

<script src="{{ url_for('static', filename='spin.min.js') }}"></script>
<script src="{{ url_for('static', filename='html5-qrcode.min.js') }}"></script>
<script>
    let spinner_opts = {
        lines: 13,
        length: 28,
        width: 14,
        radius: 42,
        scale: 0.3,
        corners: 1,
        color: '#000',
        opacity: 0.25,
        rotate: 0,
        direction: 1,
        speed: 1,
        trail: 60,
        fps: 20,
        zIndex: 2e9,
        className: 'spinner',
        top: '50%',
        left: '50%',
        shadow: false,
        hwaccel: false,
        position: 'absolute',
    };
    let spinner = new Spinner(spinner_opts);
</script>

<div>
    <p id="introp" style="text-align: center;">{{config["MESSAGES"]["continua"] | safe}}</p> 
    
</div>

<!-- <div style="display: flex; flex-direction:column; justify-content: center; margin-bottom: 20px; font-weight: normal; color: rgb(134, 134, 134)"> -->
  <!-- <img style="width: 100%; max-width:400px" src="{{map_image}}" alt="Immagine della soluzione"> -->
<!-- </div> -->

<div style="display: flex; flex-direction:column; align-items: center; width: 100%">
    <div style="margin-top:16px" id="spinner-area"></div>
    <div style="margin-top:12px; margin-bottom:8px; max-width: 500px;" id="qr-reader" style="width:90%"></div>
    <button style="width:100%; height:80px" id="startbutton" class="submitanswerbutton">Scansiona ora!</button>
    <button id="scanbutton" class="scanqrbutton">{{config["MESSAGES"]["scanbutton"] | safe}}</button>

</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        const spinner_target = document.querySelector("#spinner-area");
        spinner_target.hidden = true
        const scanbutton = document.querySelector("#scanbutton");
        scanbutton.hidden = true

        const startbutton = document.getElementById("startbutton")
        const introp = document.getElementById("introp")

        var resultContainer = document.getElementById('qr-reader-results');

        let lastQRDecoded

        startbutton.addEventListener('click', event => {
            // Init qr scanner
            spinner.spin(spinner_target)
            spinner_target.hidden = false
            startbutton.hidden = true
            introp.hidden = true
            // This method will trigger user permissions
            Html5Qrcode.getCameras().then(devices => {
                /**
                 * devices would be an array of objects of type:
                 * { id: "id", label: "label" }
                 */
                if (devices && devices.length) {
                    var cameraId = devices[1].id;
                    const html5QrCode = new Html5Qrcode(/* element id */ "qr-reader");
                    html5QrCode.start(
                        {facingMode: "environment"},
                        {
                            fps: 10,    // Optional, frame per seconds for qr code scanning
                            qrbox: { width: 500, height: 300 }  // Optional, if you want bounded box UI
                        },
                        (decodedText, decodedResult) => {
                            scanbutton.style.backgroundColor = "#01b615"
                            lastQRDecoded = decodedText
                            scanbutton.innerText = "Codice OK"
                            window.location.href = lastQRDecoded

                        },
                        (errorMessage) => {
                            lastQRDecoded = null
                            scanbutton.style.backgroundColor = "#3a3737f5"
                            scanbutton.innerText = "NO QR"
                        })
                        .then(
                            // Start succeeded 
                            () => {
                                spinner.stop();
                                spinner_target.hidden = true
                                scanbutton.hidden = false
                                document.querySelector("#qr-reader>video").style.width = "100%"
                            }
                        )
                        .catch((err) => {
                            // Start failed, handle it.
                        });
                }
            }).catch(err => {
                // handle err
            });
        });

        scanbutton.addEventListener('click', event => {
            if (lastQRDecoded != null) {
                window.location.href = lastQRDecoded
            }
        });
    });
</script>

{# <a href="{{first_card}}"> [ Start ]</a> #}
{% endblock %}