{% extends 'cards/index.html' %}

{% block content %}

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{ url_for('static', filename='spin.min.js') }}"></script>
<script>
    let spinner_opts = {
        lines: 13,
        length: 28,
        width: 14,
        radius: 42,
        scale: 0.3,
        corners: 1,
        color: '#000',
        opacity: 0.25,
        rotate: 0,
        direction: 1,
        speed: 1,
        trail: 60,
        fps: 20,
        zIndex: 2e9,
        className: 'spinner',
        top: '50%',
        left: '50%',
        shadow: false,
        hwaccel: false,
        position: 'absolute',
    };
    let spinner = new Spinner(spinner_opts);
</script>

<div style="display: flex; flex-direction:column; align-items: center;">
    <p id="introp" style="text-align: center;">Benvenuto nella caccia al tesoro!<br>Per iniziare tocca il pulsate in
        basso.</p>
    <div style="margin-top:16px" id="spinner-area"></div>
    <div style="margin-top:12px" id="qr-reader" style="width:90%"></div>
    <button style="width:100%" id="startbutton" class="submitanswerbutton">Start</button>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        let spinner_target = document.querySelector("#spinner-area");
        spinner_target.hidden = true
        const startbutton = document.getElementById("startbutton")
        const introp = document.getElementById("introp")
        var resultContainer = document.getElementById('qr-reader-results');

        startbutton.addEventListener('click', event => {
            spinner.spin(spinner_target)
            spinner_target.hidden = false
            startbutton.hidden = true
            introp.hidden = true
            // This method will trigger user permissions
            Html5Qrcode.getCameras().then(devices => {
                /**
                 * devices would be an array of objects of type:
                 * { id: "id", label: "label" }
                 */
                if (devices && devices.length) {
                    var cameraId = devices[1].id;
                    const html5QrCode = new Html5Qrcode(/* element id */ "qr-reader");
                    html5QrCode.start(
                        cameraId,
                        {
                            fps: 10,    // Optional, frame per seconds for qr code scanning
                            qrbox: { width: 500, height: 500 }  // Optional, if you want bounded box UI
                        },
                        (decodedText, decodedResult) => {
                            if (confirm("Procedere alla pagina trovata?")) {
                                window.open(decodedText)
                            }
                        },
                        (errorMessage) => {
                            // parse error, ignore it.
                        })
                        .then(
                            () => {
                                spinner.stop();
                                spinner_target.hidden = true

                            }
                        )
                        .catch((err) => {
                            // Start failed, handle it.
                        });
                }
            }).catch(err => {
                // handle err
            });



        });
    });
</script>

<!-- <a href="{{first_card}}"> [ Start ]</a> -->
{% endblock %}