{% extends 'cards/base.html' %}

{% block navigation %}
  <div id="temp user block" style="display: flex;align-items: center;">
    {% if session.get('_caccia_user_id', None)%}
    <p style="flex:1; color: #3d93b6; font-weight: bold">{{session.get('_caccia_user_name', None)}} {# (id {{session.get('_caccia_user_id', None)}}) #}</p>
    <a class="usermenubutton" href="/">Home</a>
    <a class="usermenubutton" href="/badges?card_id=0">Badges</a>
    <a class="usermenubutton" href="/user/logout">Esci</a>
    {% endif %}
  </div>
  
<!-- <nav id="navigation">
  <a href="{{ url_for( 'cards_manager.index') }}">Cards</a>
  <a href="{{ url_for( 'users_analytics.index') }}">Users</a>
</nav> -->
{% endblock %}


{% block content %}
<p>Under construction: no cards for now</p>
{% endblock %}
