{% extends 'cards/index.html' %}

{% if session.get('_caccia_user_id', None)%}
{% block content %}

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{ url_for('static', filename='spin.min.js') }}"></script>
<script>
    let spinner_opts = {
        lines: 13,
        length: 28,
        width: 14,
        radius: 42,
        scale: 0.3,
        corners: 1,
        color: '#000',
        opacity: 0.25,
        rotate: 0,
        direction: 1,
        speed: 1,
        trail: 60,
        fps: 20,
        zIndex: 2e9,
        className: 'spinner',
        top: '50%',
        left: '50%',
        shadow: false,
        hwaccel: false,
        position: 'absolute',
    };
    let spinner = new Spinner(spinner_opts);
</script>


<!-- Overrides style.css body to add card animation -->
<style>
  body {
    animation-name: cardin !important; 
    animation-duration: 1s !important; 
  }
</style>

<!-- Card content -->
<div class="flash_error">Risposta sbagliata, riprova!</div>

<img style="padding: 3px;min-width: 200px;width: 80%;max-width: 300px;border-radius: 14px;box-shadow:0px 1px 4px 0px #00000036;margin-top: 10px;" id="questionimage" src="{{card_data['image']}}" alt="">

<div style="display: flex; flex-direction:column; align-items:center">
  <!-- Single string answer enigma -->
  {% if card_data["enigmatype"] == "question" %}
    <p style="align-self:baseline; margin-bottom: 4px">{{card_data["question"].capitalize()}}</p>
    <form style="width:100%" id="answerform" action="/badges?card_id={{card_data['id']}}" method="post">
      <input type="text" name="questionanswer" id="" autocomplete="off">
      <input type="submit" class="submitanswerbutton" value="Invia risposta">
      <input type="text" style="display:none" id="play_time" name="play_time" value="0">
    </form>
  <!-- Radio buttons answer enigma -->
  {% elif card_data["enigmatype"] == "radiobutton"  %}
    <p style="align-self:baseline; margin-bottom: 4px">{{card_data["question"].capitalize()}}</p>
    <form style="width:100%" id="answerform"  action="/badges?card_id={{card_data['id']}}" method="post" autocomplete="off"> 
      <div class="radio-button">
        <input type="radio" id="option0" name="questionanswer" value="{{card_data['answer'].split('|')[0]}}">
        <label for="option0">{{card_data["answer"].split("|")[0]}}</label>
      </div>
      <div class="radio-button"> 
        <input type="radio" id="option1" name="questionanswer" value="{{card_data['answer'].split('|')[1]}}">
        <label for="option1">{{card_data["answer"].split("|")[1]}}</label>
      </div>
      <div class="radio-button">
        <input type="radio" id="option2" name="questionanswer" value="{{card_data['answer'].split('|')[2]}}">
        <label for="option2">{{card_data["answer"].split("|")[2]}}</label>
      </div>
      <input type="submit" class="submitanswerbutton" value="Invia risposta">
      <input type="text" style="display:none" id="play_time" name="play_time" value="0">
    </form>
  <!-- QR Code answer enigma -->
  {% elif card_data["enigmatype"] == "physical" %}
  <div style="display: flex; flex-direction:column; align-items: center;">
    <p style="align-self:baseline; margin-bottom: 4px">{{card_data["question"].capitalize()}}</p>
    <div style="margin-top:16px" id="spinner-area"></div>
    <div style="margin-top:12px; margin-bottom:8px" id="qr-reader" style="width:90%"></div>
    <button style="width:100%" id="startbutton" class="submitanswerbutton">Start scan</button>
    <button id="scanbutton" class="scanqrbutton">No QR</button>

  </div>
  {% endif %}
</div>

<!-- <h2>CARD: {{card_data['id']}}</h2>
<ul>
  {% for key, value in card_data.items() %}
    <li><strong>{{key}}:</strong> {{value}}</li>
  {% endfor %}
</ul>

<a href="{{prev_card}}"> [ <-Prev ]</a>
<a href="{{next_card}}"> [ Next-> ]</a>
 -->

<script>
  var starttime;
  document.addEventListener("DOMContentLoaded", function(event) { 
    starttime = window.performance.now();
    if ("{{ card_data['enigmatype'] }}" != "physical" ) {
      let answerform = document.getElementById("answerform")
      answerform.addEventListener("submit", handleAnswerSubmit);
    }
  });

  function handleAnswerSubmit() {
    event.preventDefault()
    formdata = new FormData(answerform)
    if ("{{card_data['enigmatype']}}" == "question" && formdata.get("questionanswer") != null) {
      if (formdata.get("questionanswer").toLowerCase() == "{{card_data['answer'].lower()}}") {
        endtime = window.performance.now();
        event.preventDefault()
        var playtime = endtime - starttime;
        answerform.querySelector("#play_time").value = playtime;
        answerform.submit()
      } else {
        document.querySelector(".flash_error").style.opacity = 1;
        setTimeout(() => {document.querySelector(".flash_error").style.opacity = 0;}, 1500)
      }
    } else if ("{{card_data['enigmatype']}}" == "radiobutton") {
      try {
        radioanswerdom = answerform.querySelector(".radio-button input[type='radio']:checked + label")
        radioanswer = radioanswerdom.innerText
        correctanswer = "{{correct_order_answers.split('|')[0]}}"
        if (radioanswer == correctanswer) {
          endtime = window.performance.now();
          event.preventDefault()
          var playtime = endtime - starttime;
          answerform.querySelector("#play_time").value = playtime;
          answerform.submit()
        } else {
          radioanswerdom.style.backgroundColor = "#cc6363"
        }
      } catch {
        alert("Seleziona una risposta")
      }

    }
  }
</script>
<script>
  if ("{{ card_data['enigmatype'] }}" == "physical" ) {
    document.addEventListener("DOMContentLoaded", function (event) {
      const spinner_target = document.querySelector("#spinner-area");
      spinner_target.hidden = true
      const scanbutton = document.querySelector("#scanbutton");
      scanbutton.hidden = true

      const startbutton = document.getElementById("startbutton")
      const questionimage = document.getElementById("questionimage")

      var resultContainer = document.getElementById('qr-reader-results');

      let lastQRDecoded

      startbutton.addEventListener('click', event => {
          // Init qr scanner
          spinner.spin(spinner_target)
          spinner_target.hidden = false
          startbutton.hidden = true
          questionimage.hidden = true
          // This method will trigger user permissions
          Html5Qrcode.getCameras().then(devices => {
              /**
               * devices would be an array of objects of type:
               * { id: "id", label: "label" }
               */
              if (devices && devices.length) {
                  var cameraId = devices[1].id;
                  const html5QrCode = new Html5Qrcode(/* element id */ "qr-reader");
                  html5QrCode.start(
                      cameraId,
                      {
                          fps: 10,    // Optional, frame per seconds for qr code scanning
                          qrbox: { width: 500, height: 500 }  // Optional, if you want bounded box UI
                      },
                      (decodedText, decodedResult) => {
                          scanbutton.style.backgroundColor = "#01b615"
                          lastQRDecoded = decodedText
                          scanbutton.innerText = "Scan!"
                      },
                      (errorMessage) => {
                          lastQRDecoded = null
                          scanbutton.style.backgroundColor = "#3a3737f5"
                          scanbutton.innerText = "No QR"

                      })
                      .then(
                          // Start succeeded 
                          () => {
                              spinner.stop();
                              spinner_target.hidden = true
                              scanbutton.hidden = false
                          }
                      )
                      .catch((err) => {
                          // Start failed, handle it.
                      });
              }
          }).catch(err => {
              // handle err
          });
      });

      scanbutton.addEventListener('click', event => {
          if (lastQRDecoded != null) {
              // Submit answer
              alert(lastQRDecoded)
          }
      });
  });
  }
  
</script>
{% endblock %}
{% endif %}
