<!doctype html>

<head>
  <title>Dashboard - Caccia al tesoro</title>
  <link rel="icon" type="image/x-icon" href="https://www.mdbr.it/favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
  <nav id="top_nav">
    <img src="{{ url_for('static', filename='titolo_static-caccia-al-tesoro.png') }}">
    <h1>Dashboard</h1>
    <ul style="align-items: center;">
      {% if g.user %}
        <li><span>{{ g.user['email'] }}</span></li>
        <li><a class="submitanswerbutton" style="background: #ca4b64; text-decoration: none; font-weight:300; font-size:12px" href="{{ url_for('dashboard.logout') }}">Logout</a></li>
      {% endif %}
    </ul>
  </nav>

  {% block navigation %}{% endblock %}

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>

</body>
