{% extends 'dashboard/index.html' %}

{% if g.user %}

	{% block navigation %}
	<nav id="navigation">
	  <a class="current" href="{{ url_for( 'cards_manager.index') }}">Domande</a>
	  <a href="{{ url_for( 'users_analytics.index') }}">Utenti</a>
	</nav>
	{% endblock %}

    {% block content %}
		
	    {% if status == "error" %}
	    		<h2>Error</h2>
	    		<p><strong>Could not fetch data:</strong> {{reason}}</p>
	    		<p>Please contact the administrator.</p>
	    		<p>Error code: {{error_id}}</p>
	    {% else %}
	    	<section style="display: flex; flex-direction: column; padding-top: 10px">  		
				{% for item in data %}
				<details>
					<summary>Domanda {{item['id']}}</summary>
					<div>
						<form class="submitcard" action="/cards/" data-cardid={{item["id"]}} autocomplete="off" enctype="multipart/form-data">
							<p class="carddetailsp">
								Tipologia:
								<select style="margin-left: 4px" name="enigmatype" id="enigmatype" class="enigmatype" data-cardid={{item["id"]}}>
									<option value="question" {% if item["enigmatype"] == "question" %}selected{% endif %}>Domanda</option>
									<option value="radiobutton" {% if item["enigmatype"] == "radiobutton" %}selected{% endif %}>Scelta Multipla</option>
								</select>
							</p>
							<p class="carddetailsp">Domanda: <input name="question" class="cardsinput"  style="margin-bottom: 0px;" type="text" value="{{item['question']}}"></p>
							<p class="carddetailsp">
								Risposta: 
								<input name="answer" class="cardsinput" style="margin-bottom: 0px;" type="text" value="{{item['answer'].split('|')[0]}}">
							</p>
							<div data-cardid={{item["id"]}}>
								<p class="carddetailsp" >
									Altra Opzione 1: 
									<input name="otheroption1" class="cardsinput" style="margin-bottom: 0px;" type="text" value="{{item['answer'].split('|')[1]}}">
								</p>
							</div>
							<div data-cardid={{item["id"]}}>
								<p class="carddetailsp" >
									Altra Opzione 2: 
									<input name="otheroption2" class="cardsinput" style="margin-bottom: 0px;" type="text" value="{{item['answer'].split('|')[2]}}">
								</p>
							</div>
							<div>
								<p class="carddetailsp">
									Immagine: 
									<input id="imageinput" style="margin-left:4px; margin-bottom: 0px" type="file" name="file" >
								</p>
							</div>
							<!-- <div><p class="carddetailsp"  style="margin-top:0px"><a id="cardimage" style="font-size: 12px;" href="{{item["image"]}}">Visualizza immagine</a></p></div> -->
							<a href="{{item['image']}}"><img src="{{item['image']}}" alt="" style="width:100px"></a>
							<div>
								<p class="carddetailsp">
									Mappa: 
									<input id="mapimageinput" style="margin-left:4px; margin-bottom: 0px" type="file" name="file">									
								</p>
							</div>
							<a href="{{item['mapimage']}}"><img src="{{item['mapimage']}}" alt="" style="width:100px"></a>

							<!-- <div><p class="carddetailsp" style="margin-top:0px"><a id="mapimage" style="font-size: 12px;" href="{{item["mapimage"]}}">Visualizza mappa</a></p></div> -->
							<!-- <img style="padding: 8px;min-width:100px; max-width:200px" id="questionimage" src="{{item["image"]}}" alt=""> -->
							<div style="margin-top: 14px;"><input type="submit" value="Salva" class="cardbutton"></div>

							<p class="carddetailsp" style="font-size: small; font-style: oblique;">Ultima modifica: {{item["modified"]}}</p>
						</form>
					</div>
				</details>
				{% endfor %}
	    	</section>
		    	
	    {% endif %}
		<script>

			document.addEventListener("DOMContentLoaded", function(event) {
				// On enigmatype selection
				let selectenigmatype = document.querySelectorAll(".enigmatype")
				selectenigmatype.forEach((selectenigma) => {
					selectenigma.addEventListener("change", changedSelectEnigma)
					if (selectenigma.value == "question") {
						document.querySelectorAll("div[data-cardid='" + selectenigma.dataset.cardid +"']").forEach((opt) => {
							opt.hidden = true
						})
					} else if (selectenigma.value == "radiobutton") {
						document.querySelectorAll("div[data-cardid='" + selectenigma.dataset.cardid +"']").forEach((opt) => {
							opt.hidden = false
						})
					} else if (selectenigma.value == "physical") {
						document.querySelectorAll("div[data-cardid='" + selectenigma.dataset.cardid +"']").forEach((opt) => {
							opt.hidden = true
						})
					}
				})
				// On answer submit
				let cardforms = document.querySelectorAll(".submitcard")
				cardforms.forEach((form) => {
					form.addEventListener("submit", handleFormSubmit);
				})
			});

			function changedSelectEnigma(event) {
				const selectenigma = event.currentTarget
				if (selectenigma.value == "question") {
					document.querySelectorAll("div[data-cardid='" + selectenigma.dataset.cardid +"']").forEach((opt) => {
						opt.hidden = true
						opt.querySelectorAll("input").forEach((option) => {
							option.value = ""
						})
					})
				} else if (selectenigma.value == "radiobutton") {
					document.querySelectorAll("div[data-cardid='" + selectenigma.dataset.cardid +"']").forEach((opt) => {
						opt.hidden = false
						opt.querySelectorAll("input").forEach((option) => {
							option.value = ""
						})
					})
				} else if (selectenigma.value == "physical") {
					document.querySelectorAll("div[data-cardid='" + selectenigma.dataset.cardid +"']").forEach((opt) => {
						opt.hidden = true
						opt.querySelectorAll("input").forEach((option) => {
							option.value = ""
						})
					})
				}
			}

			async function handleFormSubmit(event) {

				event.preventDefault();


				const form = event.currentTarget;
				const url = form.action;

				try {

					const formData = new FormData(form);
					
					if (form.querySelector('#imageinput').files.length > 0) {
						image_url = "/static/content\\" + await postImage(form.querySelector('#imageinput').files[0])
					} else {
						image_url = form.querySelector("#cardimage").href
					}
					if (form.querySelector('#mapimageinput').files.length > 0) {
						map_image_url = "/static/content\\" + await postImage(form.querySelector('#mapimageinput').files[0])
					} else {
						map_image_url = form.querySelector("#mapimage").href
					}
					if (formData.get("enigmatype") == "radiobutton") {
						formData.set("answer", formData.get("answer") + "|" + formData.get("otheroption1") + "|" + formData.get("otheroption2"))
					}
					formData.delete("otheroption1");
					formData.delete("otheroption2");
					formData.append("id", form.dataset.cardid);
					formData.append("image", image_url)
					formData.append("mapimage", map_image_url)
					const responseData = await postFormDataAsJson({ url, formData });

					console.log(image_url)

					form.querySelector("#cardimage").href = image_url
					form.querySelector("#mapimage").href = map_image_url

					console.log({ responseData });
			
				} catch (error) {
					console.error(error);
				}
			}

			async function postImage(image) {
				const url = "/cards/image/";
				const formData = new FormData();
				formData.append("file",image)
				try {
					const responseData = await postFormDataAsFile({ url, formData });
					console.log({ responseData });
					return responseData["saved_image"]
				} catch (error) {
					console.error(error)
				}
			}

			async function postFormDataAsFile({ url, formData }) {
				
				const fetchOptions = {
					method: "POST",
					body: formData,
				};
			
				const response = await fetch(url, fetchOptions);
			
				if (!response.ok) {
					const errorMessage = await response.text();
					throw new Error(errorMessage);
				}
			
				return response.json();
			}

			async function postFormDataAsJson({ url, formData }) {

				const plainFormData = Object.fromEntries(formData.entries());
				const formDataJsonString = JSON.stringify(plainFormData);
				console.log(formDataJsonString)
				const fetchOptions = {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					body: formDataJsonString,
				};
			
				const response = await fetch(url, fetchOptions);
			
				if (!response.ok) {
					const errorMessage = await response.text();
					throw new Error(errorMessage);
				}
				
				return response.json();
			}
		</script>
    {% endblock %}

	
{% endif %}
