{% extends 'dashboard/index.html' %}

{% if g.user %}

	{% block navigation %}
	<style>
		#useranalytics {
		font-family: Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}

		#analyticscontainer {
			overflow-x: scroll;
		}

		#useranalytics td, #useranalytics th {
			border: 1px solid #ddd;
			padding: 8px;
		  }
		
		#useranalytics td, #customers th {
		border: 1px solid #ddd;
		padding: 8px;
		}
		
		#useranalytics tr:nth-child(even){background-color: #f2f2f2;}
		
		#useranalytics tr:hover {background-color: #ddd;}
		
		#useranalytics tr:nth-child(1) {
			background-color: #377ba8;
		}

		#useranalytics tr:nth-child(1) th {
			color: white;
		}

		#useranalytics th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		color: black;
		font-size: 12px;
		}

		section a {
			text-decoration: none;
			color: black;
		}

		section a:visited {
			color: black;
		}
	</style>
	<nav id="navigation">
	  <a href="{{ url_for( 'cards_manager.index') }}">Domande</a>
	  <a class="current" href="{{ url_for( 'users_analytics.index') }}">Utenti</a>
	</nav>

	{% endblock %}

    {% block content %}
		
	    {% if status == "error" %}
	    		<h2>Error</h2>
	    		<p><strong>Could not fetch data:</strong> {{reason}}</p>
	    		<p>Please contact the administrator.</p>
	    		<p>Error code: {{error_id}}</p>
	    {% else %}
	    	<script>
	    		document.addEventListener("DOMContentLoaded", function(event) { 
					const stats_data = JSON.parse('{{users|tojson}}'); // Make jinja print data as 
JSON
					// Here's the user's table data as JS object
					console.log(stats_data);
				});

	    	</script>
	    	<section>
		    	
		    	
		    	<form method="get" action="{{request.path}}" >
					<label for="uname">Cerca username</label>
					<input name="uname" value="{{request.args.get('uname', '')}}" style="margin-bottom: 0px;">
					<input type="submit" value="Cerca">
			    </form> 

			    {% if request.args.get("uname", None) %}
			    <a class="usermenubutton" style="background-color: #377ba8; color: white" href="{{request.path}}">Azzera ricerca</a>
			    {% endif %}

			    {% if users %}
				<div style="display: flex; justify-content: space-between; margin-top: 12px"> 
					<div>
						<a href="{{first_page}}">&#11244;</a>
						{% if prev_page %}
							<a href="{{prev_page}}">&#9664;</a>
						{% else %}
							<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
						{% endif %}
						{% if next_page %}
							<a href="{{next_page}}">&#9654;</a>
						{% else %}
							<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
						{% endif%}
						<a href="{{last_page}}">&#11246;</a>
					</div>
					<span>page: {{this_page}}/{{total_pages}}</span>

				</div>
				
				

				<div id="analyticscontainer" style="margin-top: 10px">
					<!-- Render users table -->
					<!-- jinja var users is a list of dicts  -->
					<table id="useranalytics">
						<tr> <!-- first table row, print the keys of the first dict of the 'users' list -->
							{% for col in users[0].keys() %}
								<th>{{col}}</th>
							{% endfor %}
						</tr>
						  {% for user in users %}
  
						<tr> <!-- other rows, print the values of every dict of the 'users' list -->
						  	{% for val in user.values() %}
								{% if loop.index > 6 %}
									{% if val == 0 %}
										<th style="text-align:center"><img style="width: 100%; max-width: 40px" src="/static/rewards/empty.png" alt=""></th>
									{% else %}
										<th style="text-align:center"><img style="width: 100%; max-width: 40px" src="/static/rewards/{{loop.index - 6}}.png" alt=""></th>
									{%endif%}
								{% else %}
									<th>{{val}}</th>
								{%endif%}
							{% endfor %}  	
						</tr>
					  {% endfor%}
					  </table>
				</div>
		    		
	    		{% endif%}

	    	</section>
		    	
	    {% endif %}
<!-- 
	    <h3>--------- UPLOAD FORM FOR TEST----------</h3>

	    <form method="post" action="/cards/image/" enctype="multipart/form-data">
			<label for="file">Select image to upload:</label>
			<input type="file" name="file">
			<input type="submit" value="Upload">
	    </form> -->


    {% endblock %}
	

{% endif %}

