{% extends 'dashboard/index.html' %}

{% if g.user %}

	{% block navigation %}
	<nav id="navigation">
	  <a href="{{ url_for( 'cards_manager.index') }}">Cards</a>
	  <a class="current" href="{{ url_for( 'users_analytics.index') }}">Users</a>
	</nav>
	{% endblock %}

    {% block content %}
	    {% if status == "error" %}
	    		<h2>Error</h2>
	    		<p><strong>Could not fetch data:</strong> {{reason}}</p>
	    		<p>Please contact the administrator.</p>
	    		<p>Error code: {{error_id}}</p>
	    {% else %}
	    	<script>
	    		document.addEventListener("DOMContentLoaded", function(event) { 
					const stats_data = JSON.parse('{{users|tojson}}'); // Make jinja print data as 
JSON
					// Here's the user's table data as JS object
					console.log(stats_data);
				});

	    	</script>
	    	<section>
		    	<h2>Users</h2>

	    		<!-- Render users table -->
				<!-- jinja var users is a list of dicts  -->
	    		 <table>
	    		  <tr> <!-- first table row, print the keys of the first dict of the 'users' list -->
	    		  	{% for col in users[0].keys() %}
	    		    <th>{{col}}</th>
	    		    {% endfor %}
	    		  </tr>
		    		{% for user in users %}

	    		  <tr> <!-- other rows, print the values of every dict of the 'users' list -->
    				{% for val in user.values() %}
	    		  	<th>{{val}}</th>
    		  	  	{% endfor %}  	
	    		  </tr>

	    		{% endfor%}
	    		</table> 
	    	</section>
		    	
	    {% endif %}
<!-- 
	    <h3>--------- UPLOAD FORM FOR TEST----------</h3>

	    <form method="post" action="/cards/image/" enctype="multipart/form-data">
			<label for="file">Select image to upload:</label>
			<input type="file" name="file">
			<input type="submit" value="Upload">
	    </form> -->


    {% endblock %}

{% endif %}