{% extends 'dashboard/index.html' %}

{% if g.user %}

	{% block navigation %}
	<nav id="navigation">
	  <a href="{{ url_for( 'cards_manager.index') }}">Cards</a>
	  <a class="current" href="{{ url_for( 'users_analytics.index') }}">Users</a>
	</nav>
	{% endblock %}

    {% block content %}
	    {% if status == "error" %}
	    		<h2>Error</h2>
	    		<p><strong>Could not fetch data:</strong> {{reason}}</p>
	    		<p>Please contact the administrator.</p>
	    		<p>Error code: {{error_id}}</p>
	    {% else %}
	    	<script>
	    		document.addEventListener("DOMContentLoaded", function(event) { 
					const stats_data = JSON.parse({{data|tojson}}); // Make jinja print data as JSON
				});

	    	</script>
	    	<section>
		    	<h2>Users</h2>
	    		
	    		<p>Rendering some template params as an example:</p>

	    		<p><strong>users_n:</strong> {{users_n}}</p>
	    		<p><strong>medium_iq:</strong> {{medium_iq}}</p>

	    	</section>
		    	
	    {% endif %}

	    <h3>--------- UPLOAD FORM FOR TEST----------</h3>

	    <form method="post" action="/cards/image/" enctype="multipart/form-data">
			<label for="file">Select image to upload:</label>
			<input type="file" name="file">
			<input type="submit" value="Upload">
	    </form>


    {% endblock %}

{% endif %}